<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Django website</title>
  </head>
  <body>
    <!-- <h1>Enter your text below :</h1>
    <form action="counter" method="POST">
      {% csrf_token %}
      <textarea name="text" id="" cols="30" rows="10"></textarea><br />
      <input type="submit" />
    </form> -->
    <h1>Hey, welcome to my project</h1>
  </body>
</html>
