<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/register.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="form-box">
      <form class="form" method="POST" action="register">
        {% csrf_token %}
        <span class="title">Sign up</span>
        <span class="subtitle">Create a free account with your email.</span>
        <div class="form-container">
          <input
            type="text"
            class="input"
            placeholder="Username"
            name="username"
          />
          <input type="email" class="input" placeholder="Email" name="email" />
          <input
            type="password"
            class="input"
            placeholder="Password"
            name="password"
          />
          <input
            type="password"
            class="input"
            placeholder="Confirm Password"
            name="confirm_password"
          />
        </div>
        <button type="submit">Sign up</button>
        <!-- Added type attribute for the button -->
      </form>
      <div class="form-section">
        <p>Have an account? <a href="">Log in</a></p>
      </div>
    </div>
  </body>
</html>
