<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/register.css" />
    <title>Register</title>
  </head>
  <style>
    /* Moved the style block outside the loop to avoid unnecessary repetition */
    h5 {
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 0;
      font-size: 14px;
    }
  </style>
  <body>
    <div class="form-box">
      {% for message in messages %}
      <h5>{{ message }}</h5>
      {% endfor %}
      <form class="form" method="POST" action="{% url 'register:register' %}">
        {% csrf_token %}
        <span class="title">Sign Up</span>
        <span class="subtitle">Create An Account !</span>
        <div class="form-container">
          <input
            type="text"
            class="input"
            placeholder="Username"
            name="username"
          />
          <input type="email" class="input" placeholder="Email" name="email" />
          <input
            type="password"
            class="input"
            placeholder="Password"
            name="password"
          />
          <input
            type="password"
            class="input"
            placeholder="Confirm Password"
            name="confirm_password"
          />
        </div>
        <button type="submit">Signup</button>
      </form>
      <div class="form-section">
        <p>
          Already have an Account <a href="{% url 'register:login' %}">Login</a>
        </p>
      </div>
    </div>
  </body>
</html>
