<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <style>
    /* Moved the style block outside the loop to avoid unnecessary repetition */
    h5 {
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 0;
      font-size: 14px;
    }
  </style>
  <body>
    {% for message in messages %}
    <h5>{{ message }}</h5>
    {% endfor %}
    <h1>Sign Up Below</h1>
    <form action="register" method="POST"></form>
    {% csrf_token%}
    <p>Username: /p> <input type="text" name="Username" /></p>

    <p>Email :</p>
    <input type="email" name="Email" />
    <p>Password:</p>
    <input type="password" name="Password" />
    <p>Confirm Password:</p>
    <input type="password" name="Confirm Password" />
    <input type="submit" />
  </body>
</html>
